<div class="dashboard d-flex w-100 h-100 flex-row mt-2">
  <div class="controller col-4 m-0 p-2 d-flex flex-column" *ngIf="controller$ | async as controller">
    <app-controller-folder
      class="col-auto p-0"
      [folderPath]="controller.folderPath"
      (update)="updateFolderPath($event)"
    ></app-controller-folder>
    <div class="col-auto p-2 d-flex flex-column">
      <app-controller-checkbox
        class="col"
        [checked]="controller.selectAll"
        [text]="'Select all'"
        (update)="updateSelectAll($event)"

      ></app-controller-checkbox>
      <app-controller-textarea
        [value]="controller.filenames"
        [disabled]="controller.selectAll"
        [text]="'Enter filenames'"
        (update)="updateFilenames($event)"
        class="col-auto pt-2"></app-controller-textarea>
    </div>
  </div>
  <div class=" m-0 p-2">
    <app-file-list></app-file-list>
  </div>

</div>
