.dashboard {
  .controller {
    background: #d9d9d9;
  }
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(176, 175, 175, 0.9);
    z-index: 2;
    backdrop-filter: blur(2px);
  }
}
